html, body {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: rgb(63,94,251);
  background: linear-gradient(45deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  overflow: hidden;
}

/* #Avataaar {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
  
} */